<div id="bg-chatter-button" role="button" class="uArJ5e UQuaGc kCyAyd QU4Gid foXzLb"
    jsaction="mouseenter:tfO1Yc; mouseleave:JywGue; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); blur:O22p3e; contextmenu:mg9Pef"
    aria-label="Attenuate audio when in background" aria-disabled="false" tabindex="0"
    data-tooltip="Attenuate audio when in background" aria-expanded="false" data-tab-id="11"
    data-tooltip-vertical-offset="-12" data-tooltip-horizontal-offset="0">
    <div class="Fvio9d MbhUzd"></div> <!-- Mouseover highlight -->
    <div class="e19J0b CeoRYc"></div> <!-- Mouseover highlight -->
    <span class="l4V7wb Fxmcue">
        <span class="NPEfkd RveJvd snByac">
            <div class="ZaI3hb">
                <div class="IT3MId">
                    <span class="bg-chatter-button-image-container DPvwYc sm8sCf sChIge" aria-hidden="true">
                        <div id="bg-chatter-button-ctrl" class="bg-chatter-disabled">
                            <img class="bg-chatter-show-enabled bg-chatter-button-image" src="${imgOnSrc}" alt="Meeting chatter effect is on" />
                            <img class="bg-chatter-show-disabled bg-chatter-button-image" src="${imgOffSrc}" alt="Meeting chatter effect is off" />
                        </div>
                    </span>
                </div>
            </div>
        </span>
    </span>
</div>